body {
  margin: 0;
}

.ascii {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 900px) {
  .ascii {
    justify-content: center;
  }
}

.ascii.dark .ascii-column {
  background: #000;
}

.ascii-column {
  display: inline-block;
  line-height: 5px;
}

.ascii-char {
  display: inline-block;
  width: 5px;
  height: 5px;
  line-height: 1;
  font-size: 9px;
}
