*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter UI';
  src:
    url('dat://fonts.taravancil.com/inter-ui/Inter-UI-Regular.woff') format('woff'),
    url('https://fonts.taravancil.com/inter-ui/Inter-UI-Regular.woff') format('woff');
    font-display: optional;
}

@font-face {
  font-family: 'Inter UI';
  src:
    url('dat://fonts.taravancil.com/inter-ui/Inter-UI-Medium.woff') format('woff'),
    url('https://fonts.taravancil.com/inter-ui/Inter-UI-Medium.woff') format('woff');
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: 'Inter UI';
  src:
    url('dat://fonts.taravancil.com/inter-ui/Inter-UI-Bold.woff') format('woff'),
    url('dat://fonts.taravancil.com/inter-ui/Inter-UI-Bold.woff') format('woff');
  font-weight: 700;
  font-display: optional;
}

.small-text {
  font-size: 13.5px;
}

.large-text {
  font-size: 18px;
}

body {
  position: relative;
  margin: 0;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
}

body,
*::after,
*::before {
  font-family: 'Inter UI', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* UTILS */

.flex,
.inline-flex {
  flex-wrap: nowrap;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.hidden-but-not {
  position: absolute;
  left: -1000%;
}

.transparent {
  opacity: 0;
}

.desktop-text {
  display: none;
}

@media (min-width: 600px) {
  .desktop-text {
    display: initial;
  }

  .mobile-text {
    display: none;
  }
}


body.noscroll {
  overflow: hidden;
}

header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 10px;
  background: #000;
}

header .album-cover {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

header .tidal-logo {
  width: auto;
  height: 13px;
  margin-left: 5px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #fff;
  text-decoration: underline;
}

::selection {
  background: var(--highlight-yellow);
}

::-moz-selection {
  background: var(--highlight-yellow);
}

figure {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding: 0 10px;
}

.container--medium {
  max-width: 800px;
}

.container.wide {
  max-width: 1100px;
  padding: 25px;
}

.ascii-container {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: #fff;
}

.ascii-container .header {
  padding: 10px;
}

form .group.actions {
  justify-content: space-between;
}

.input-group:not(:last-child) {
  margin-bottom: 40px;
}

label:not(.btn) {
  margin-right: 30px;
  font-weight: 500;
}

select,
input[type="text"] {
  height: 50px;
  width: 100%;
  border: 2px solid;
}

input[type="text"] {
  padding: 0 15px;
  font-size: 14px;
  flex: 1;
}

input[type="text"].error {
  border: 2px dashed var(--error-red);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  border: 2px solid;
}

input[type="radio"]:checked {
  background: #fff;
  border: 4.5px solid #000;
}

input:focus,
*[contenteditable]:focus,
textarea:focus {
  outline: none;
  border-color: var(--jay-z-blue);
}

select:focus {
  outline: none;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 200px;
}

input.url-input {
  flex: 3;
  margin-right: 10px;
}

label[for="image-picker"] {
  position: relative;
  flex: 1;
  justify-content: center;
  margin-left: 0;
}

.theme-form {
  flex: 1;
  margin-left: 10px;
}

input[name="theme"] {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

input[name="theme"]:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid;
  border-radius: 50%;
  background: #fff;
}

input[name="theme"][value="dark"]:before {
  background: #000;
}

input[name="theme"][value="dark"]:after {
  color: #fff;
}

input[name="theme"],
input[name="theme"]:checked {
  border: 0;
}

input[name="theme"]:checked:after {
  position: absolute;
  display: block;
  content: '\2713';
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

input[name="theme"][value="dark"]:checked:after {
  font-weight: 400;
}

.btn.download-html-btn {
  margin-left: 0;
}

.close-ascii-btn {
  margin-right: auto;
}

.close-ascii-btn .btn-icon {
  margin-right: 3px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border-radius: 0;
  font-size: inherit;
  font-weight: 500;
}

.select-wrapper {
  position: relative;
  display: block;
  padding-left: 55px;
}

.select-wrapper:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  content: '▾';
  width: 50px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.select-wrapper select {
  position: relative;
  margin-left: -55px;
  padding-left: 60px;
  z-index: 1;
  background: transparent;
  width: calc(100% + 85px);
  border: 2px solid;
}

select.song-picker {
  border-bottom: 0;
}

.lyric-type {
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.lyric-type label {
  margin-bottom: 10px;
}

.lyrics-preview {
  height: 200px;
  padding: 10px 15px;
  border: 2px solid;
  overflow-y: auto;
  line-height: 2;
  font-size: 13px;
  font-style: italic;
}

.lyrics-preview[contenteditable] {
  height: 250px;
}

.tidal-link a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 500;
}

a {
  color: inherit;
}

a:hover {
  color: var(--jay-z-blue);
}

a:focus {
  outline: dotted var(--highlight-yellow);
}

.btn,
button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  padding: 0 15px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  letter-spacing: .3px;
  outline: none;
  border: 0;
  cursor: pointer;
}

img.btn-icon {
  height: 13px;
}

.btn-icon--left {
  /* TODO this is not correct for the camera button */
  margin-right: 7px;
}

.btn-icon--right {
  margin-left: 7px;
}

.btn:hover {
  background: var(--jay-z-blue);
}

.btn.primary {
  background: #000;
  border: 0;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.btn.primary:hover {
  background: var(--jay-z-blue);
}

h1 {
  font-size: 1.5rem;
  margin-top: 0;
  line-height: 1;
}

p {
  max-width: 650px;
}

.step {
  position: relative;
  display: block;
}

.step:not(:first-of-type) {
  margin-top: 40px;
}

.step h2 {
  margin-top: 0;
  font-size: 1.25rem;
}

.image-picker-feedback {
  position: absolute;
  bottom: 10px;
  max-width: calc(100% - 35px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 700;
}

.image-picker-feedback.error {
  color: var(--error-red);
}

.image-drag-container {
  border: 2px dashed;
  padding: 15px;
  height: 250px;
}

.image-drag-container.dragging {
  background: var(--highlight-yellow);
}

.image-drag-container .label {
  position: absolute;
  content: 'Drag an image';
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
}

.image-drag-container .label .icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


.image-picker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-submit-footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  max-width: 630px;
  padding: 5px 0 10px 0;
  background: #fff;
}

.generate-btn {
  flex: 1;
  justify-content: center;
}

.preview-image {
  height: 50px;
  width: auto;
}

.step.image-upload .preview-image {
  position: absolute;
  right: 0;
  top: -10px;
}

/* UTILS */

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  display: block;
  background: #000;
  margin: 5px;
}

/* gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 15px;
}

.gallery-grid-item {
  position: relative;
  overflow: hidden;
  border: 2px solid;
  height: 140px;
  text-decoration: none;
  background: #000;
}

.hidden-but-not {
  position: absolute;
  left: -1000%;
}

@media (min-width: 600px) {

  .mobile-text {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  display: block;
  background: #000;
  margin: 5px;
}