*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Regular.woff2') format('woff2'),
       url('/fonts/Inter-UI-Regular.woff') format('woff');
  font-display: optional;
  font-weight: regular;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Medium.woff2') format('woff2'),
       url('/fonts/Inter-UI-Medium.woff') format('woff');
  font-display: optional;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Bold.woff2') format('woff2'),
       url('/fonts/Inter-UI-Bold.woff') format('woff');
  font-display: optional;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Black.woff2') format('woff2'),
       url('/fonts/Inter-UI-Black.woff') format('woff');
  font-display: optional;
  font-weight: 900;
}

body {
  font-family: 'Inter UI', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 40px 0;
}

::selection {
  background: var(--highlight-yellow);
}

::-moz-selection {
  background: var(--highlight-yellow);
}

figure {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}

#ascii {
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
  flex-wrap: nowrap;
}

#ascii .column {
  display: inline-block;
  line-height: .725;
}

.lyrics-preview {
  height: 250px;
  margin-top: 20px;
  padding: 10px 15px;
  border: 2px solid;
  overflow-y: auto;
  line-height: 2;
  font-style: italic;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

a {
  color: #000;
}

a:hover {
  color: var(--jay-z-blue);
}

.btn,
button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  line-height: 38px;
  margin-right: 5px;
  padding: 0 10px;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid;
  text-decoration: none;
}

.btn:hover {
  color: var(--jay-z-blue);
}

.btn.primary {
  background: #000;
  border: 0;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.btn.primary:hover {
  background: var(--jay-z-blue);
}

.step {
  position: relative;
}

.step-count {
  position: absolute;
  display: block;
  top: 15px;
  left: -30px;
  width: 30px;
  font-weight: 900;
}

.feedback {
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 7px;
}

.feedback.error {
  color: var(--error-red);
}

form .group.actions {
  justify-content: space-between;
}

.input-group:not(:last-child) {
  margin-bottom: 40px;
}

input[type="text"] {
  height: 50px;
  border: 2px solid;
  padding: 0 15px;
  font-size: 14px;
  flex: 1;
}

input[type="text"].error {
  border: 2px dashed;
}

input:focus,
*[contenteditable]:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--jay-z-blue);
}

textarea {
  padding: 10px;
  width: 100%;
  height: 200px;
}

label[for="image-picker"] {
  position: relative;
}

#image-drag-container {
  border: 2px dashed;
  padding: 15px;
  height: 250px;
}

#image-drag-container.dragging {
  background: var(--highlight-yellow);
}

#image-drag-container .label {
  position: absolute;
  content: 'Drag an image';
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
}

#image-drag-container .label .icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


#image-picker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#preview-image {
  max-width: 300px;
  margin-bottom: 10px;
}

#preview-image-caption {
  font-size: 12.5px;
}

/* UTILS */

.flex,
.inline-flex {
  flex-wrap: nowrap;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  visibility: hidden;
}

.spinner:after,
.loading:after {
  display: block;
  height: 100%;
}

.spinner:after {
  animation: .75s infinite spinner;
  content: '⋯';
  width: 25px;
  margin-left: 10px;
}

.loading:after {
  animation: 1.25s infinite loading;
  content: '.';
  margin-left: 3px;
  letter-spacing: 1px;
}

@keyframes loading {
  0% { content: '.'; }
  33% { content: '..'; }
  66% { content: '...'; }
}

@keyframes spinner {
  0% { content: '⋯'; }
  25% { content: '⋱'; }
  50% { content: '⋮'; }
  75% { content: '⋰'; }
}

::-webkit-scrollbar {
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  display: block;
  background: #000;
  margin: 5px;
}